.txtCenter{
	text-align: center;
}
#items{
	display: inline-block;
}
#wrap{
	margin: 0 auto;
	width: 960px;
	height: 100%;
	position: relative;
	border: solid black;
	text-align: center;
}

#mainButtons{
	display: block;
	position: relative;
	text-align: center;

}
a{
	color: grey;
}
a:link{
	text-decoration: none;
}
a:visited{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
a:active{
	text-decoration: underline;
}
.craft{
    display: inline;
    position: relative;
}

.craft:hover:after{
    background: #BCF5A9;
    background: rgba(0,0,0,.2);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    white-space: nowrap;
}

.craft:hover:before{
    border: solid;
    border-color: #C7C7C7 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}
#levelOne{
	display: block;
	margin-left: auto;
}
#resInv{
	margin-left: -15%;
	display: inline-block;
}
#resources{
	border: 2px solid #a1a1a1;
	width: 50px;
	padding: 10px 20px;
	margin-top: 10px;
	margin-left: 5px;
	margin-bottom: 5px;
	border-radius: 10px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1)));

	display: inline-block;
    }

#inventory{
	border: 2px solid #a1a1a1;
	width: 100px;
	padding: 10px 20px;
/*	margin-top: 10px;*/
	margin-left: 40%;
	margin-bottom: 5px;
	border-radius: 10px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1)));
	text-align: center;
	display: inline-block;
    }
 #b, #c, #d, #e, #f, #glueButton, #inventory, #berryButton, #woodButton, #stoneButton, #lookAround, #msgBox, #status, #resources, #foodTxt, #woodTxt, #stoneTxt, #axesTxt, #workersTxt, #minerals, #axeButton, #juiceButton {
	display: none;
}
#lookAround{
	font-size: 15px;
}
#msgBox {
    border: 2px solid #a1a1a1;
    padding: 10px 40px;
	margin-top: 5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1)));
    width: 300px;
    border-radius: 25px;
    margin-left: 30%;
}
td{
	width: 10%;
	border-bottom: 1px dashed #BDBDBD;
	border-collapse: collapse;
}
#msgBoxHead{
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 10px;
	font-weight: bold;
	text-align: left;
}
#inventoryHead{
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 10px;
	font-weight: bold;
	text-align: left;
  	background:rgba(189,189,189,0.5);

}
#msgBoxContent{
	font-size: 18px;
	text-align: center;
	padding-bottom: 10px;
}


button:hover {
   -webkit-transform: scale(1.02,1.02); /* Safari */
    transform: scale(1.02,1.02);

}
button:active {
    -webkit-transform: scale(1.02,1.02); /* Safari */
    transform: scale(.98,.98);

}
button:disabled {
    color: #C0C0C0;
    transform:none;
}
button {
	 -webkit-transition: width 2s, height 2s, 	transform 2s; /* Safari */
    transition: width 2s, height 2s, transform .1s;
	padding-top: 20px;
	border-width: 1px;
	border-style: solid;
	border-color: #5e5e5e #888 #696969 #888;
	font: 11px/16px 'Lucida Grande', Sans-serif;
	color: #000;
	text-decoration: none;
	padding: 0 8px;
	height: 50px;
	background: #FCFCFC;
	cursor: default;
	position: relative;
	display: inline-block;
	overflow: hidden;
	-moz-border-radius: 18px;
-webkit-border-radius: 18px;
border-radius: 18px;
background: -moz-linear-gradient(center top , #fcfcfc 0%, #f3f3f3 35%, #ededed 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(40%,#f3f3f3), color-stop(100%,#ededed));
-moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15), 0 1px 0 0 rgba(0, 0, 0, 0.15), 0 -2px 3px 0px #FFF inset, 0 -10px 0 0 #ededed inset;
-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15), 0 1px 0 0 rgba(0, 0, 0, 0.15), 0 -2px 3px 0px #FFF inset, 0 -10px 0 0 #ededed inset;
box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15), 0 1px 0 0 rgba(0, 0, 0, 0.15), 0 -2px 3px 0px #FFF inset, 0 -10px 0 0 #ededed inset;
	




/*font-size: 15px;
color: white;
height: 50px;
border-color: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(196,234,185,1)), color-stop(50%,rgba(197,237,192,1)), color-stop(51%,rgba(80,196,45,1)), color-stop(100%,rgba(19,191,0,1)));
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9de96), color-stop(44%,#8ab66b), color-stop(100%,#398235));
border-radius: 20%;*/
/*border-bottom-color: #E5E5E5;*/
}
